body{
    margin:0 auto;
    padding: 20px 75px;
    font-family: 'Montserrat', sans-serif;
    max-width: 1920px;
    height: 100%;
}

body a{
    text-decoration: none;
    color: #FF8682;
    font-weight: 600;
    font-size: 24px;
}

input:focus{
    outline: none;
}

.main-container{
    display:flex;
    gap: 105px;
    justify-content: center;
    align-items: center;
    width: 1440px;
    margin: 0 auto;
}

.image-conatiner{
    background: url(/static/login/images/login_image.jpg) no-repeat center center;
    width: 100%;
    height: 1200px;
    border-radius: 30px;
}

/* #region: form-content */

.login-content{
    width: 100%;
    display: flex;
    flex-direction: column;

}

.login-content img{
    margin-bottom: 32px;
    max-width: 300px;
}

.login-content h1{
    color: #000;
    font-family: 'Poppins';
    font-size: 75px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0px;
    margin-bottom: 16px;
}

h2{
    margin: 0px;
    margin-bottom: 16px !important;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.login-content p{
    color: #11221175;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0px;
}

.form-set{
    display: flex;
    gap: 24px;
    flex-direction: column;
}

.form-item{
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.form-set label{
    color: #1C1B1F;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: white;
    position: relative;
    top: 33px;
    left: 10px;
    width: fit-content;
    display: inline-block;
    white-space: nowrap;
}

.form-set input{
    appearance: none;
    padding: 10px 16px;
    height: 50px;
    border-radius: 4px 4px 4px 4px;
    border: 1px solid #000;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #1C1B1F;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 40px;
}

button[type="submit"]{
    display: block;
    background-color: #8dd3ba; 
    border: none;
    padding: 20px 10px;
    border-radius: 5px;
    font-size: 32px;
    cursor: pointer;
    color:#112211;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    width: 100%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

button[type="submit"]:hover{
    box-shadow: none;
}


.error{
    margin-top: 15px;
    color: red;
}

.error p{
    margin: 0px !important;
    color: red;
    font-size: 16px !important;
}
/* #endregion */