
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Password Reset</title>
    <link rel="stylesheet" href="{% static 'password_reset/CSS/password_reset.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
<img src="/static/register/images/Logo_dark_green.svg" style="margin-bottom: 40px;">
<h2> Password reset sent</h2>

<p style="max-width: 900px; line-height: 1.7em;">We’ve emailed you instructions for setting your password, if an account exists with the email you entered.<br>
    You should receive them shortly.<br>
    If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
</body>

</html>

