{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Password Reset</title>
    <link rel="stylesheet" href="{% static 'password_reset/CSS/password_reset_confirm.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
    <div class="main-container">
        <div class="login-content">
            <img src="/static/register/images/Logo_dark_green.svg">
            <h2> Reset  Password</h2>
            <p>Reset your password below:</p>

            <form method="POST" class="change-password-form">
                {% csrf_token %}
                <div class="form-set">
                    <label for="password">Password</label>
                    <input type="password" name="password" required>
                </div>
                <div class="form-set">
                    <label for="confirm-password">Confirm Password</label>
                    <input type="password" name="confirm_password" required>
                </div>

                <button type="submit">Change Password</button>
            </form>
        </div>

            <div class="image-conatiner">
            </div>
        </div>
    
</body>
</html>

